.advantages {
    display: flex;
}

.advantages__size {
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
}


.advantages__image {
    background-color: var(--second-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
    width: 270px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.advantages__size-image {
    display: block;
    width: 70px;
    height: 70px;

}



.advantages__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages__text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}